
@mixin mobile{
    @media screen and (max-width: 480px){
        @content
    }
}

@mixin tablet{
    @media screen and (max-width: 768px){
        @content
    }
}

@mixin desktop{
    @media screen and (max-width: 1200px){
        @content
    }
}

$darkColor: #2f2d52;


.form-Container{
    background-color: rgb(255, 174, 128);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-box{
        background-color: #fff;
        padding: 1.5rem 2rem;
        border-radius: .8rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        .logo{
            color: #191919;
            font-weight: 600;
            font-size: 2rem;
        }

        .titulo{
            color: #191919;
            font-size: 1.8rem;
            font-weight: 600;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input{
                font-size: .9rem;
                padding: 1rem;
                border: none;
                width: 18rem;
                border-bottom: 1px solid #191919;

                &::placeholder{
                    color: #191919;
                }
            }

            button{
                background-color: #191919;
                color: #fff;
                padding: .7rem;
                font-weight: bold;
                border: none;
                border-radius: 4rem;
                cursor: pointer;
                width: 9rem;
                margin: auto;
                font-size: 1rem;
            }
        }

        p{
            color: #191919;
            font-size: 1.1rem;
        }

        label{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;

            img{
                width: 1.8rem;
                margin-right: 1rem;
                cursor: pointer;
            }
        }
    }
}

.home{
    background-color: #c2c1c1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid #fff;
        border-radius: .1rem;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        @include tablet{
            width: 90%;
        }

        .barraLateral{
            flex: 1;
            // border-right: 1px solid #c2c1c1;
            background-color: #1f4d04;
            position: relative;

            .barraNavegacao{
                display: flex;
                align-items: center;
                background-color: #328502;
                height: 2.2rem;
                padding: .7rem;
                justify-content: space-between;
                color: #d4d0d0;

                .logo{
                    font-weight: 600;
                    @include tablet{
                        display: none;
                    }
                }

                .usuario{
                    display: flex;
                    gap: .7rem;

                    img{
                        background-color: #d4d0d0;
                        width: 1.6rem;
                        height: 1.6rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button{
                        background-color: #1f4d04;
                        color: #fff;
                        font-size: .8rem;
                        border: none;
                        border-radius: .4rem;
                        cursor: pointer;
                        @include tablet{
                            position: absolute;
                            bottom: .9rem;
                        }
                    }
                    
                } 
            }


            .pesquisar{
                border-bottom: 1px solid grey;

                .form-Pesquisar{

                    padding: .9rem;

                    input{
                        background-color: transparent;
                        color: #fff;
                        border: none;
                        outline: none;

                        &::placeholder{
                            color: #fff;
                        }
                    }
                }
            }

            .usuarioChat{
                padding: .9rem;
                display: flex;
                align-items: center;
                gap: .7rem;
                color: #fff;
                cursor: pointer;
                transition: all .4s;

                &:hover{
                    background-color: #328502;
                }

                img{
                    width: 2.6rem;
                    height: 2.6rem;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .usuarioChatInfo{
                    span{
                        font-size: 1.2rem;
                        font-weight: 500;
                    }

                    p{
                        font-size: 1rem;
                        color: #cbcbcb;
                    }
                }
            }
        }

        .chat{
            flex: 2;

            .chatInfo{
                height: 2rem;
                background-color: #1f4d04;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .8rem;
                color: lightgray;
            }

            .chatIcons{
                display: flex;
                gap: .7rem;
                
                img{
                    height: 1.2rem;
                    cursor: pointer;
                }
            }

            .mensagens{
                background-color: #e5e3e3;
                padding: .5rem;
                height: calc(100% - 8rem);
                overflow: scroll;

                .mensagem{
                    display: flex;
                    gap: .7rem;
                    margin-bottom: 2rem;

                    .mensagemInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        
                        img{
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                            background-color: #636161;
                            object-fit: cover;
                        }
                        
                        
                    }

                    .mensagemConteudo{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        p{
                            background-color: #fff;
                            padding: .5rem .9rem;
                            border-radius:  0rem 2rem 2rem 2rem;
                            max-width: max-content;
                        }
                        img{
                            // width: 2.5rem;
                            // height: 2.5rem;
                            // border-radius: 50%;
                            // background-color: #636161;
                            // object-fit: cover;
                            width: 50%;
                        }

                    }

                    &.dono{
                        flex-direction: row-reverse;

                        .mensagemConteudo{
                            align-items: flex-end;
                        }

                        p{
                            background-color: #328502;
                            color: #fff;
                            border-radius: 2rem 0rem 2rem 2rem;
                        }
                    }

                }
            }

            .input{
                height: 2rem;
                background-color: #fff;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 1rem;

                    &::placeholder{
                        color: lightgray;
                    }
                }

                .enviar{
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    img{
                        height: 1rem;
                        cursor: pointer;
                    }

                    button{
                        border: none;
                        border-radius: .5rem;
                        padding: .6rem .8rem;
                        color: #fff;
                        background-color: #191919;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
